<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>ASRD</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
    />

    <style>
      body {
        padding: 0.5em 1em;
      }
    </style>
  </head>
  <body>
    <h1 class="bla-bla-class">Select file to upload</h1>

    <div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>

    <form method="post" action="/upload-srb-data/" enctype="multipart/form-data">
      <input type="file" name="file" autocomplete="off" required>

      <button type="submit">Submit</button>
    </form>

    {% if samples %}
      <ul>
        {% for index, name in samples %}
          <li>
            <a href="/view/{{file}}/{{index}}">{{name}}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if graph %}
      <img src="/plot/{{graph}}.jpg">
    {% endif %}
  </body>
</html>