<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASRD</title>
</head>
<body>
    <h2>Select file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
			<input type="submit" value="Submit">
		</p>
    </dl>
</form>
	{% if graph %}
		<select name="samples_names" method="GET" action="/">
			<option value="{{samples_names[0]}}" selected>{{samples_names[0]}}</option>
		  	{% for name in samples_names[1:] %}
				<option value="{{name}}">{{name}}</option>
		  	{% endfor %}
		</select>
    	<img src="/plot/{{graph}}.jpg">
	{% endif %}
</body>
</html>