<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>ASRD</title>

  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
  >
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
  ></script>

  <style>
      html,
      body {
          min-height: 100vh;
          box-sizing: border-box;
      }

      body {
          display: grid;
          grid-template-rows: max-content 1fr;
          min-height: 100vh;

          min-width: 1024px;
          overflow-x: auto;
      }

      .content > div {
          width: 100%;
          height: 400px;
      }

      body {
          font-size: .875rem;
      }

      .sidebar {
          box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
      }

      .sidebar .nav-link {
          font-weight: 500;
          color: #333;
      }

      .sidebar .nav-link.active {
          color: #007bff;
      }

      .sidebar-heading {
          font-size: .75rem;
          text-transform: uppercase;
      }
  </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark shadow flex-md-nowrap">
  <a href="/" class="navbar-brand col-md-3 col-lg-2 me-0 px-3">
    ASRD
  </a>

  <div class="container-fluid">
    <form class="d-flex" method="post" action="/upload-srb-data/"
          enctype="multipart/form-data">
      <input
          class="form-control me-2"
          type="file"
          name="file"
          required
          aria-label="Upload SRB file"
      >

      <button class="btn btn-light" type="submit">Загрузить</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    {% if samples %}
    <nav class="col-2 d-md-block bg-light sidebar">
      <div class="position-sticky pt-3">
        <h2 class="h6 sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          Образцы</h2>

        <ul class="nav flex-column">
          {% for sample in samples %}
          <li class="nav-item">
            <a class="nav-link {% if sample_id == sample.id %}active{% endif %}"
               href="/view/{{set_id}}/{{sample.id}}">{{sample.sample_name}}</a>
          </li>
          {% endfor %}
        </ul>

      </div>
    </nav>
    {% endif %}

    {% if samples %}
    <main class="col-10 ms-sm-auto px-md-4">
      {% else %}
      <main class="col-12 ms-sm-auto px-md-4">
        {% endif %}
        <div>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
        </div>

        {% if graph %}
        <div id="plot_container" class="content"></div>
        {% else %}
        <div class="p-3">
          <h2 class="display-5 p-2">ASRD — Analyzer Sorbi_MS Resulted Data</h2>

          <p>
            Это приложение для анализа измерений, полученных при помощи прибора
            Sorbi.
            Анализ проводится по моделям, не реализованным в стандартном
            приложении Sorbi.
          </p>

          <p>
            Для анализа необходимо загрузить SRB-файл с измерениями.
            SRB-файл — это файл, в который сохраняются измерения по одному или
            нескольким образцам.
            Он находится в <code>.../SS_4.2_966893-1/data/&lt;operator&gt;/&lt;filename.srb&gt;.</code>
          </p>

          <p class="h4">Для загрузки файла:</p>

          <ol>
            <li>нажмите <code>"Выберите файл"</code></li>
            <li>в открывшемся окне перейдите к необходимому файлу, выберите его
              и нажмите <code>"Открыть"</code>;
            </li>
            <li>загрузите файл, нажав на кнопку <code>"Загрузить"</code>;</li>
            <li>после загрузки вы можете выбирать образцы в левом меню и
              смотреть расчеты по ним.
            </li>
          </ol>
        </div>
        {% endif %}
      </main>
    </main>
  </div>
</div>

{% if graph %}
<script
    src="https://cdn.jsdelivr.net/npm/echarts@5.0.2/dist/echarts.min.js"
    integrity="sha256-NZlQFkif+Cpc0rqEGGpSmaU55Vw4aMWK5KC3BRACd/Q="
    crossorigin="anonymous"
></script>


<script>
    function loadData() {
        const [guid, sample] = location.pathname.split('/').slice(2, 4)

        return fetch(`/api/points/${guid}/${sample}`)
            .then(response => response.json())
    }

    function renderPlot(wrapper, data) {
        const container = document.createElement('div');
        wrapper.appendChild(container);

        const chart = window.echarts.init(container);

        chart.setOption(data);
    }

    const plot_container = document.getElementById('plot_container');
    if (plot_container) {
        loadData().then(data => {
            data.forEach(plot_data => renderPlot(plot_container, plot_data));
        });
    }
</script>
{% endif %}
</body>
</html>